/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px 5px;
}

/* Your exercise starts here */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  box-shadow: 2px 2px 2px darkred;
  background-color: lightsalmon;
  color: rebeccapurple;
  border-radius: 5px;
}

.button2 {
  padding: 15px;
  width: 80%;
  box-shadow: 2px 2px 20px yellowgreen;
  font-family: "Sassy Frass", cursive;
  font-weight: 600;
  letter-spacing: 15px;
  text-decoration: wavy;
  border-radius: 15px;
}

.button3 {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.button4 {
  box-shadow: 5px 5px 5px royalblue;
}
